{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My blog{% endblock title %}

{% block content %}
    <h1 class="border-bottom border-3 pb-2">My blog</h1>
    {% if tag %}
    <h2>Posts tagged with "{{tag.name}}"</h2>
    {% endif %}
    {% for post in posts %}
    <h2>
        <a class="text-decoration-none"href="{{post.get_absolute_url}}">
            {{post.title}}
        </a>
    </h2>
<p class="date fst-italic text-secondary">
    Published {{post.publish}} by {{post.author}}
</p>
    <div class="border-bottom border-2">
        {{ post.body|markdown|truncatewords_html:30 }}

        <p class='tags date fw-bold text-secondary'>
            {% for tag in post.tags.all %}
            <a href="{% url "blog:post_list_by_tag" tag.slug %}" class="text-decoration-none">@{{tag.name}}</a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endfor %}
    
    {% include "pagination.html" with page=posts %}
{% endblock content %}